{% load static %}
<!doctype html>
<html>
  <style>
  body{
    font-family: consolas, monospace;
  }
  .image{
    width: 800px;
    height: 400px;
    border: 1px solid black;
  }
  .two{
    display: flex;
    margin-left: 10;
  }
  input
   {
     vertical-align: middle;
   }
   .main{
     width: 700px;
     margin: 0 auto;
     margin-top: 60px;
   }
   .title{
     width: 100;
     height: 40;
     display: flex;
     border: 1px solid white;
   }
   .a{
     letter-spacing: 20px;
   }
  </style>
  <head>
    <title>P&C SHOP</title>
  </head>
  <body>
    <center>
      <h1>
        <img src="{% static '로고.png' %}">
      </h1>
      <div class="title">
        <form method="POST" action="loginCheck.php">
          <label>ID : <input type="text" name = "loginID" /></label>
          <label>PW : <input type="password" name="loginPW" /></label>
          <input type="submit"/>
        </form>
        <input type="button" name="Register" value="회원가입" onclick="location.href='login/signup/'"; />
    </div>
    <br>
    <br>
        <form method="get" action="http://search.naver.com/search.naver">
      <input name="query" size="30">
      <input TYPE="IMAGE" src="{% static '돋보기.png' %}" name="Submit" value="Sub">
 </form></br>
    </center>
    <div class="main">
    <div class="two">
      <div class="image">
        <center>
        <a href="{% url 'male' %}"><img src="{% static '남자.png' %}"></a>

        <a href="{% url 'female' %}"><img src="{% static '여자.png' %}"></a>
        <p class="a">남자 여자</p>
      </center>
      </div>
    </div>
  </div>
</html>